---
import Tooltip from "../../components/ui/Tooltip.astro";
import { getMessages } from "../../i18n";
import { getBentoData } from "./data/bento.source";
import "./bento.styles.css";
import "./bento.animations.css";

const data = await getBentoData();
const m = getMessages();
const topTiles = data.tiles.filter((tile) => tile.variant !== "youtube");
const youtubeTile = data.tiles.find((tile) => tile.variant === "youtube");
---

<article class="bento-widget" aria-label={m.bento.ariaLabel}>
  <div class="bento-widget__grid">
    {
      topTiles.map((tile) => (
        <div
          class="bento-widget__cell-host"
          data-tooltip-host={tile.tooltip ? "" : undefined}
          data-tooltip-focus-backdrop={tile.tooltip ? "" : undefined}
        >
          <a
            class="bento-widget__cell"
            href={tile.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={tile.label}
            data-bento-tile={tile.id}
          >
          {tile.variant === "mychannel" && (
            <svg
              class="bento-widget__icon bento-widget__icon--mychannel"
              viewBox="0 0 26 32"
              fill="none"
              aria-hidden="true"
            >
              <path
                class="bento-widget__icon-main"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.91144 0.0735512C2.26051 0.173773 2.48701 0.296257 2.95852 0.639723C5.02076 2.1419 5.99035 3.10588 7.04162 4.69936C7.42668 5.28299 7.9175 6.11607 8.16501 6.60608C8.32471 6.92228 8.39266 7.01428 8.53667 7.10925C8.64405 7.18006 8.76725 7.22545 8.85204 7.22545C8.92858 7.22545 9.29525 7.13451 9.66683 7.02336C10.8818 6.65985 11.429 6.57602 12.582 6.57651C13.3924 6.57684 13.6382 6.59208 14.4649 6.693C14.921 6.74869 15.5163 6.90507 15.9709 7.08855C16.4132 7.26714 16.6428 7.27868 16.8553 7.13303C16.9725 7.05265 17.0657 6.91073 17.2972 6.46084C18.0593 4.97912 19.0163 3.59754 19.9547 2.62436C20.7056 1.84563 21.1801 1.4967 22.2541 0.933323C22.8663 0.61212 23.4725 0.394713 24.0056 0.305129C24.4242 0.23481 25.1408 0.222898 25.3428 0.282908C25.5636 0.348545 25.7638 0.51999 25.8856 0.747666C25.9903 0.943469 26 0.996331 26 1.37233C26 1.94651 25.91 2.21066 25.4089 3.10711C25.1315 3.60337 25.1261 3.60966 24.9842 3.61027C24.9051 3.6106 24.6732 3.66412 24.4688 3.72923C24.2645 3.79433 23.9903 3.86945 23.8595 3.89623C23.5439 3.9608 23.3633 4.01831 23.2547 4.08891C23.053 4.22007 23.3157 4.40018 24.3847 4.86354C24.808 5.04702 24.8306 5.06291 24.8306 5.1764C24.8306 5.24212 24.7233 5.97497 24.592 6.80493C24.4608 7.63488 24.3433 8.38786 24.331 8.47822C24.2244 9.25938 23.837 10.6473 23.6163 11.0385C23.4386 11.3536 23.0052 11.9932 22.7864 12.2632C22.3072 12.8547 22.0408 13.4344 21.8153 14.3764C21.6862 14.9158 21.6835 14.9455 21.6814 15.8511C21.6798 16.5652 21.6949 16.8593 21.748 17.1449C21.7857 17.3483 21.87 17.8473 21.9353 18.254C22.0005 18.6606 22.1173 19.2798 22.1947 19.63C22.6699 21.7795 22.7084 22.0348 22.678 22.8338C22.6185 24.3999 22.1084 25.827 21.157 27.0887C20.773 27.598 20.6211 27.7674 19.8514 28.5439C19.119 29.2827 18.7449 29.5997 17.9473 30.1574C16.5081 31.1637 15.6656 31.5397 14.1568 31.849C13.0026 32.0856 12.1811 32.0493 10.8674 31.7039C10.1106 31.5048 9.82309 31.4005 9.15322 31.0814C8.55569 30.7969 8.16873 30.5533 7.29016 29.9086C6.42424 29.2732 6.11097 29.0221 5.40178 28.3947C4.12031 27.2611 3.35523 26.3179 2.82711 25.2205C2.40448 24.3424 2.15324 23.1285 2.23918 22.3796C2.25587 22.234 2.28187 21.9856 2.29698 21.8274C2.31204 21.6693 2.33023 21.5296 2.33737 21.517C2.34446 21.5044 2.40586 21.2087 2.47373 20.8598C2.54163 20.511 2.6223 20.1366 2.65306 20.028C2.73356 19.7434 2.94349 18.5885 3.16591 17.2066C3.39166 15.8039 3.44172 15.3518 3.44335 14.701C3.44493 14.0704 3.42139 13.9187 3.22006 13.2634C3.06582 12.7614 2.89942 12.4581 2.53255 12.0106C1.041 10.1912 0.422305 8.54932 0.071456 5.47978C-0.0247887 4.63779 -0.0235602 2.71534 0.0736358 1.94737C0.271477 0.384937 0.870112 -0.225471 1.91144 0.0735512ZM8.02714 14.045C7.66503 14.1446 7.42954 14.2844 7.16875 14.5547C6.95113 14.7802 6.69842 15.2124 6.61376 15.5039C6.37925 16.3113 6.49872 17.0336 6.94038 17.4784C7.32195 17.8627 8.06254 18.0973 8.56457 17.9928C9.25656 17.8488 9.89872 17.2241 10.0828 16.5159C10.1414 16.2901 10.1406 15.5876 10.0815 15.3312C9.95528 14.7848 9.666 14.3665 9.23194 14.1029C9.063 14.0003 8.99236 13.9839 8.67949 13.9747C8.42163 13.9671 8.23822 13.9868 8.02714 14.045Z"
              />
              <path
                class="bento-widget__icon-detail"
                d="M10.1278 25.77C10.7059 25.0952 11.7108 24.6627 12.5592 24.7234C14.0495 24.8301 15.3423 26.1113 15.5254 27.6632C15.5647 27.9956 15.5271 28.1783 15.2847 28.8317C14.9472 29.7419 14.6738 30.0564 13.8738 30.4551C12.5094 31.1351 10.5019 30.916 9.59569 29.9883C9.25389 29.6384 8.96515 29.0007 8.96404 28.5933C8.96201 27.8319 9.51911 26.4803 10.1278 25.77Z"
              />
              <path
                class="bento-widget__icon-detail"
                d="M14.957 14.0727C15.2839 13.4285 16.0073 12.6758 16.4353 12.5342C17.0482 12.3316 17.5122 12.4721 17.9726 12.9997C18.3796 13.4661 18.5912 13.9339 18.763 14.7464C18.954 15.6503 18.9502 16.1837 18.7483 16.7912C18.3108 18.1078 17.6814 18.4368 16.2423 18.101C15.9251 18.027 15.5573 17.9108 15.4251 17.8428C14.296 17.2621 14.1077 15.7459 14.957 14.0727Z"
              />
              <path
                class="bento-widget__icon-detail"
                d="M1.07174 5.12483C0.907635 4.02712 1.02152 2.58584 1.30435 2.17928C1.7094 1.59721 2.22444 1.58813 3.0108 2.1493C3.70589 2.64536 4.22712 3.23415 4.95704 4.34765C5.76903 5.58635 6.14387 6.37156 6.3939 7.35737C6.9359 9.49406 6.60568 10.2694 5.07908 10.4442C4.74261 10.4828 4.33098 10.4829 4.16434 10.4443C2.74171 10.1157 1.49799 7.97638 1.07174 5.12483Z"
              />
            </svg>
          )}

          {tile.variant === "ies" && (
            <svg
              class="bento-widget__icon bento-widget__icon--ies"
              viewBox="0 0 26 26"
              fill="none"
              aria-hidden="true"
            >
              <path
                class="bento-widget__icon-main"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.06592 0.307857C1.06592 0.58843 1.67581 1.07347 2.02691 1.07217C2.18695 1.07162 2.58737 0.944127 2.91669 0.788871C3.95792 0.29795 4.35877 0.18744 5.45682 0.0885808C7.57258 -0.102061 8.98472 0.300781 10.0895 1.41001C11.1343 2.45913 11.5173 3.59329 11.5173 5.63798C11.5173 8.16575 10.9273 9.14955 7.75189 11.9165C5.11073 14.2178 4.18948 15.4173 3.89205 16.9419C3.7318 17.7634 3.87605 18.6769 4.29966 19.5241C4.7949 20.5143 5.45661 20.9975 6.31754 20.9975C6.90358 20.9975 7.23258 20.7748 7.36736 20.2867C7.52936 19.6998 7.3384 19.175 6.88409 18.9584C6.52776 18.7884 6.48182 18.7914 5.93585 19.0176C5.62023 19.1485 5.32629 19.2555 5.28252 19.2555C5.13849 19.2555 5.19956 18.3801 5.36613 18.0581C5.76209 17.2924 6.85209 16.8867 7.73284 17.1775C8.286 17.36 8.95097 17.9774 9.2349 18.5721C10.195 20.5827 8.40064 22.9817 6.05745 22.8201C4.63181 22.7218 3.16905 21.719 2.31792 20.2565C2.13828 19.9478 1.96246 19.6944 1.92719 19.6932C1.77499 19.6881 2.08766 21.1106 2.3767 21.7381C2.78311 22.6202 3.77131 23.6227 4.62637 24.0202C5.1546 24.2658 5.40816 24.3137 6.18276 24.3146C6.99416 24.3157 7.19535 24.2742 7.81579 23.9784C9.14552 23.3443 10.0274 22.2836 10.3829 20.8904C10.7498 19.4533 10.2636 17.8879 9.0925 16.7354C8.47064 16.1233 7.50029 15.5537 7.0794 15.5537C6.63794 15.5537 6.824 15.2717 7.74917 14.5385C9.89138 12.8408 11.4232 10.7473 12.6028 7.90521C12.7953 7.44118 12.9916 7.06142 13.039 7.06142C13.0864 7.06142 13.2359 7.34308 13.3714 7.68746C13.8495 8.90262 14.9098 10.841 15.5932 11.7493C16.2719 12.6513 17.2295 13.6229 18.5713 14.7708C19.2859 15.3821 19.3856 15.5537 19.0261 15.5537C18.6206 15.5537 17.4766 16.2214 16.9094 16.789C15.1488 18.5511 15.1104 21.3722 16.8253 22.9763C18.2633 24.3214 19.9795 24.6921 21.515 23.9891C22.8031 23.3993 24.0104 21.6832 24.1069 20.3047C24.1468 19.7347 24.1332 19.667 24.0138 19.8437C23.9369 19.9574 23.678 20.3486 23.4385 20.7127C21.9956 22.9061 19.2961 23.4876 17.5743 21.9757C16.5772 21.1002 16.2618 19.5241 16.875 18.4811C17.4652 17.477 18.278 17.0095 19.2678 17.1046C20.1813 17.1924 20.8801 17.9192 20.8801 18.7817C20.8801 19.0423 20.8324 19.2555 20.7741 19.2555C20.7158 19.2555 20.4524 19.1507 20.1887 19.0226C19.1375 18.5118 18.219 19.4123 18.7479 20.4352C19.2295 21.3666 20.8032 21.0747 21.5732 19.9112C22.0526 19.1867 22.2182 18.4896 22.1667 17.4122C22.1263 16.5682 22.0694 16.3419 21.7229 15.6451C21.2268 14.6476 20.3955 13.7257 18.6063 12.1894C15.1633 9.23273 14.341 7.8303 14.4879 5.16611C14.6778 1.72433 16.9353 -0.259495 20.3357 0.027393C21.3459 0.112643 22.015 0.287715 23.0213 0.730186C23.4504 0.918868 23.8816 1.07325 23.9792 1.07325C24.3339 1.07325 24.8195 0.72496 24.9712 0.36175C25.1651 -0.102387 25.3616 -0.0460976 25.7277 0.578414C26.1162 1.24158 26.0899 1.80599 25.6431 2.38891C25.4485 2.64281 25.1056 2.94537 24.881 3.06132L24.4727 3.27211V4.24753C24.4727 5.49394 24.3237 6.07098 23.8626 6.60959C23.4015 7.14852 23.3661 7.6549 23.7599 8.07985C24.0807 8.42607 24.5211 8.45307 24.9082 8.15018C25.0579 8.03303 25.2383 7.93613 25.3092 7.93482C25.4947 7.93134 25.5895 8.31665 25.5034 8.72417C25.2628 9.86225 24.0815 10.6359 23.2408 10.2061C22.8154 9.98866 22.0886 9.2103 22.0202 8.89914C21.9454 8.55835 21.9124 8.54322 20.7606 8.32427C20.3058 8.23782 19.7557 8.09269 19.5382 8.00178C18.9926 7.7738 18.0586 6.87895 17.8181 6.35373C17.5786 5.83058 17.5516 4.80856 17.7638 4.30066C17.9598 3.83151 18.608 3.30553 19.1916 3.14211C19.5999 3.0279 19.7187 3.0389 20.1535 3.23117C20.5554 3.40897 20.7039 3.5578 20.9356 4.01497C21.3062 4.7464 21.2475 4.88391 20.5647 4.88391C19.9158 4.88391 19.6825 5.07444 19.6825 5.60434C19.6825 6.43593 20.6444 6.80088 21.4339 6.26881C22.6148 5.47303 22.5673 3.57478 21.3388 2.4673C20.8032 1.98444 20.1671 1.79205 19.349 1.86554C17.8511 2 16.5747 3.26286 16.3773 4.80584C16.279 5.57407 16.4933 6.9176 16.8237 7.6046C17.3472 8.69304 19.3711 10.4366 20.1111 10.4366C20.4932 10.4366 20.7779 10.2292 20.9452 9.82905C21.1391 9.36502 21.26 9.3612 21.5364 9.81054C21.7071 10.0878 21.7507 10.3348 21.7378 10.9518C21.7197 11.827 21.6416 11.6881 23.223 13.594C24.333 14.9318 25.2658 16.8597 25.62 18.5478C25.9741 20.2366 25.8115 24.3942 25.3429 25.6266L25.2309 25.9215L24.9466 25.5027C24.7904 25.2724 24.583 25.0234 24.486 24.9495C24.1525 24.6956 23.5714 24.7978 22.5168 25.2957C21.1797 25.9272 20.5767 26.0451 19.0145 25.9811C17.8954 25.9351 17.667 25.8911 17.0548 25.603C15.7434 24.9856 14.4732 23.6923 13.8152 22.304C13.5424 21.7284 13.5315 21.6314 13.5352 19.7999C13.5387 18.0703 13.5622 17.8362 13.7903 17.2624C14.0391 16.6365 14.9495 15.4076 15.6931 14.6942L16.0784 14.3245L15.2403 13.3397C14.0108 11.8947 13.1425 10.9809 12.9993 10.9809C12.8307 10.9809 10.102 14.0959 10.102 14.2883C10.102 14.333 10.4393 14.7525 10.8516 15.2205C11.2639 15.6883 11.7291 16.2893 11.8854 16.556C12.8983 18.2847 12.9804 20.7644 12.0839 22.5565C11.5395 23.6446 10.1191 25.0703 9.07029 25.5813C8.35372 25.9305 8.23483 25.9535 6.96836 25.9899C5.41349 26.0347 4.98673 25.9503 3.63588 25.3308C3.10341 25.0866 2.4528 24.8625 2.1901 24.833C1.73906 24.782 1.68844 24.8052 1.27855 25.2491C1.00931 25.5409 0.806054 25.6806 0.742801 25.6173C0.565018 25.4395 0.300577 23.608 0.233078 22.0863C0.0594323 18.1712 0.971426 15.6367 3.62434 12.6621L4.27756 11.9297L4.33547 10.9186C4.38 10.1397 4.4401 9.85572 4.5973 9.68206C4.84062 9.41314 4.9852 9.39311 4.9852 9.62839C4.9852 9.87836 5.58322 10.4366 5.85093 10.4366C6.23894 10.4366 7.31761 9.82458 7.95286 9.24394C10.4166 6.99207 10.2621 3.31337 7.65249 2.09222C6.97086 1.77332 5.99768 1.75068 5.36624 2.03909C4.79632 2.29941 4.0522 3.11881 3.90533 3.64762C3.74486 4.22597 3.75847 5.0396 3.93571 5.45899C4.25513 6.2148 5.06054 6.70387 5.63842 6.49298C6.35575 6.23113 6.62096 5.53988 6.17503 5.09393C6.00291 4.92179 5.83612 4.87541 5.47087 4.89784C5.20762 4.91407 4.96136 4.89632 4.92347 4.85843C4.65032 4.58526 5.72214 3.23433 6.33387 3.08081C6.9627 2.92294 7.91715 3.5161 8.26433 4.28063C9.01542 5.93423 7.51978 8.08703 5.4578 8.32014C4.19188 8.4632 4.2376 8.44023 3.93103 9.08793C3.55456 9.88294 3.07499 10.2422 2.30474 10.3061C1.71794 10.3548 1.70117 10.3479 1.24817 9.8751C0.794187 9.40127 0.52158 8.77992 0.52158 8.21921C0.52158 7.8769 0.680202 7.85861 1.12036 8.15018C1.57358 8.45035 1.89975 8.42182 2.27186 8.04969C2.68469 7.63683 2.67446 7.31804 2.22777 6.66533C1.70912 5.90756 1.61027 5.53204 1.61027 4.32058C1.61027 3.24761 1.60962 3.24511 1.31088 3.13253C0.889121 2.97357 0.362305 2.43616 0.135858 1.93381C-0.0266836 1.57343 -0.036809 1.44071 0.0705356 1.0824C0.21348 0.605088 0.782974 -0.0686349 0.954007 0.0370835C1.01563 0.0750811 1.06592 0.196913 1.06592 0.307857Z"
              />
            </svg>
          )}
          </a>
          {tile.tooltip && <Tooltip lines={tile.tooltip} />}
        </div>
      ))
    }

    {
      youtubeTile && (
        <div
          class="bento-widget__cell-host bento-widget__cell-host--wide"
          data-tooltip-host={youtubeTile.tooltip ? "" : undefined}
          data-tooltip-focus-backdrop={youtubeTile.tooltip ? "" : undefined}
        >
          <a
            class="bento-widget__cell bento-widget__cell--wide"
            href={youtubeTile.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={youtubeTile.label}
            data-bento-tile={youtubeTile.id}
          >
          <svg
            class="bento-widget__icon bento-widget__icon--youtube"
            viewBox="0 0 26 18.2863"
            fill="none"
            aria-hidden="true"
          >
            <path
              class="bento-widget__icon-main"
              d="M25.741 3.9457C25.741 3.9457 25.4871 2.15313 24.7051 1.36602C23.7148 0.330078 22.6078 0.325 22.1 0.264062C18.4641 -1.45286e-07 13.0051 0 13.0051 0H12.9949C12.9949 0 7.53594 -1.45286e-07 3.9 0.264062C3.39219 0.325 2.28516 0.330078 1.29492 1.36602C0.512891 2.15313 0.264062 3.9457 0.264062 3.9457C0.264062 3.9457 0 6.05313 0 8.15547V10.1258C0 12.2281 0.258984 14.3355 0.258984 14.3355C0.258984 14.3355 0.512891 16.1281 1.28984 16.9152C2.28008 17.9512 3.58008 17.9156 4.15898 18.0273C6.24102 18.2254 13 18.2863 13 18.2863C13 18.2863 18.4641 18.2762 22.1 18.0172C22.6078 17.9563 23.7148 17.9512 24.7051 16.9152C25.4871 16.1281 25.741 14.3355 25.741 14.3355C25.741 14.3355 26 12.2332 26 10.1258V8.15547C26 6.05313 25.741 3.9457 25.741 3.9457ZM10.3137 12.5176V5.21016L17.3367 8.87656L10.3137 12.5176Z"
            />
          </svg>

          {youtubeTile.caption && (
            <span class="bento-widget__youtube-text-wrap" aria-hidden="true">
              <span class="bento-widget__youtube-text">
                <span class="bento-widget__youtube-line">{youtubeTile.caption[0]}</span>
                <span class="bento-widget__youtube-line">{youtubeTile.caption[1]}</span>
              </span>
            </span>
          )}
          </a>
          {youtubeTile.tooltip && <Tooltip lines={youtubeTile.tooltip} />}
        </div>
      )
    }
  </div>
</article>

<script>
  import { initDragTooltips } from "../../components/ui/tooltip.client";
  import { feedback } from "../../experience/feedback/FeedbackBus";

  function bindBentoTiles() {
    initDragTooltips();

    document.querySelectorAll("[data-bento-tile]").forEach((tile) => {
      if (tile.hasAttribute("data-bound")) return;
      tile.setAttribute("data-bound", "true");
      tile.addEventListener("click", () => {
        feedback.emit({
          sound: "tap",
          haptic: "light",
          source: `widget.bento.${(tile as HTMLElement).dataset.bentoTile}`,
        });
      });
    });
  }

  bindBentoTiles();
  document.addEventListener("astro:page-load", bindBentoTiles);
</script>
